$color-primary: #131620;
$color-red-1: #FF6160;

$color-blue-1: #24578C;
$color-blue-2: #C7EEF2;

$color-white-1: aliceblue;
$color-black-1: #333;

$color-purple-1: #B58FF0;

$default-text-shadow: 0.1rem 0.1rem 0.5rem rgba(51, 51, 51, 0.5);

// FONT SIZES
$default-font-size: 2rem;