.button {
    width: 20rem;
    background: transparent;
    border: .3rem solid $color-purple-1;
    padding: 1rem;
    margin: 0 2.5rem;
    font-size: $default-font-size;
    color: $color-white-1;
    cursor: pointer;
    transition: all .4s;

    &__emphasize {
        margin-left: 0;
    }

    &:hover {
        border-color: $color-red-1;
    }
}