.button {
    background: none;
    border: none;
    border-bottom: .3rem solid transparent;
    height: 2.5rem;
    margin: 0 2.5rem;
    font-size: $default-font-size;
    color: $color-white-1;
    cursor: pointer;
    transition: all .4s;

    &__emphasize {
        margin-left: 0;
    }

    &:hover {
        border-color: $color-red-1;
    }
}