.navigation {
    padding: 3vh 10vw;
    height: 3vh;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;

    &__logo-box {
        position: absolute;
        top: 2.5rem;
        left: 9rem;
        animation: moveInRight 1.5s ease-out .75s backwards;
    }

    &__logo {
        width: 7rem;
    }

    &__item {
        animation: moveInRight 1.5s ease-out .75s backwards;
    }
}