.navigation {
    padding: 3vh 10vw;
    height: 3vh;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &__item {
        animation: moveInRight 1.5s ease-out .75s backwards;
    }
}